.AgregarRolSection {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
}

.AgregarRolForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.SubmitButton {
  padding: 6px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  font-size: 12pt;
}

.SubmitButton:hover {
  background-color: #f2f2f2;
}

.InputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.InputsContainer > select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #f2f2f2;
  font-size: 12pt;
}

.InputsContainer > select:hover {
  background-color: #e6e6e6;
}

.InputsContainer > select:focus {
  outline: none;
}