.App {
  height: 100vh;
}

.Main {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  overflow-x: hidden;
}

.Content {
  width: min(100%, 1300px);
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}